<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gourmet6"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />

    <application
        android:name="com.gourmet6.Gourmet"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.gourmet6.MainGourmet"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gourmet6.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="com.gourmet6.MainGourmet"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gourmet6.MainGourmet" />
        </activity>
        <activity
            android:name="com.gourmet6.RestaurantActivity"
            android:label="@string/title_activity_restaurant"
            android:parentActivityName="com.gourmet6.MainGourmet" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gourmet6.MainGourmet" />
        </activity>
        <activity
            android:name="com.gourmet6.ReservationActivity"
            android:label="@string/title_activity_reservation"
            android:parentActivityName="com.gourmet6.RestaurantActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gourmet6.RestaurantActivity" />
        </activity>
        <activity
            android:name="com.gourmet6.OrderActivity"
            android:label="@string/title_activity_order"
            android:parentActivityName="com.gourmet6.ReservationActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gourmet6.ReservationActivity" />
        </activity>
        <activity
            android:name="com.gourmet6.DishMenuActivity"
            android:label="@string/title_activity_dish_menu"
            android:parentActivityName="com.gourmet6.RestaurantActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gourmet6.RestaurantActivity" />
        </activity>
        <activity
            android:name="com.gourmet6.DishDisplayActivity"
            android:label="@string/title_activity_dish_display"
            android:parentActivityName="com.gourmet6.DishMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gourmet6.DishMenuActivity" />
        </activity>
        <activity
            android:name="com.gourmet6.TownActivity"
            android:label="@string/title_activity_town"
            android:parentActivityName="com.gourmet6.MainGourmet" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gourmet6.MainGourmet" />
        </activity>
        <activity
            android:name="com.gourmet6.RestaurantListActivity"
            android:label="@string/title_activity_restaurant"
            android:parentActivityName="com.gourmet6.MainGourmet" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gourmet6.MainGourmet" />
        </activity>
        <activity
            android:name="com.gourmet6.ClientActivity"
            android:label="@string/title_activity_client" >
        </activity>
        <activity
            android:name="com.gourmet6.ResAndComActivity"
            android:label="@string/title_activity_res_and_com" >
        </activity>
        <activity
            android:name="com.gourmet6.PrefActivity"
            android:label="@string/title_activity_pref" >
        </activity>
    </application>

</manifest>